@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
  margin: 0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

h1,h2 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .1rem;
}

button {
  width: 5rem;
  height: 20px;
  border: none;
  outline: none;
  height: 1.6rem;
}

span {
  width: 50%;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 60px;
}

.add,
.result {
  display: flex;
  flex-direction: column;
}

.add form * {
  margin-bottom: 20px;
}

.add form {
  display: flex;
  flex-direction: column;
}

.add form input {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: 0;
  height: 2rem;
}

.add form button {
  align-self: flex-end;
  color: #fff;
  background-color: teal;
}

.add form button:active {
  background-color: rgb(12, 71, 71);
}

.result .title-container button {
  background-color: tomato;
  color: #fff;
}

.result .title-container button:active {
  background-color: rgb(180, 48, 25);
}
.result .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result .scores-list {
  padding: 0;
  overflow: hidden;
}

.result .scores-list li {
  list-style-type: none;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-bottom:2px solid #ddd;
}

.result .scores-list li:nth-child(1) {
  border-bottom:2px solid #000;
  font-family: 'Bebas Neue', 'cursive';
  letter-spacing: 1px;
}